<div class="container-fluid">
  <div class='row'>
    {{render 'navigation'}} {{outlet}} {{title}}
  </div>
</div>

<!-- {{#if session.isAuthenticated}}
  <a {{ action 'invalidateSession' }}>Logout</a>
{{else}}
  {{#link-to 'login'}}Login{{/link-to}}
{{/if}} -->