<div class="container-fluid">
  <div class='row'>
    <div class='col-sm-3'>
      {{render 'navigation'}}
    </div>
    <div class='col-sm-9'>

      {{#if session.isAuthenticated}}
        <a {{ action 'invalidateSession' }}>Logout</a>
      {{else}}
        {{#link-to 'login'}}Login{{/link-to}}
      {{/if}}
      {{#link-to 'protected'}}Protected{{/link-to}}
      {{#link-to 'application'}}Application{{/link-to}}
      {{outlet}} {{title}}
    </div>
  </div>
</div>