<div class="container-fluid">
  <div class='row' id='user-info'>
    {{user-info}}
  </div>
  <div class='row'>
    <div class='col-sm-3'>
      {{render 'navigation'}}
    </div>
    <div class='col-sm-9'>
      {{outlet}} {{title}}
    </div>
  </div>
</div>

<!-- {{#if session.isAuthenticated}}
  <a {{ action 'invalidateSession' }}>Logout</a>
{{else}}
  {{#link-to 'login'}}Login{{/link-to}}
{{/if}} -->